@layout('publisher_base')

@section('title')
All Games
@endsection

@section('content')
<div class="d-flex justify-content-between align-items-center m-3">
  <h1>All Games</h1>
  <a href="{{route('publisher_add_game')}}" class="btn btn-primary ml-5 mr-5">Add New Game</a>
</div>


@endsection
